
section{
    /* overflow: hidden; */
}
.center {
    margin: 0 auto;
}

.title1 {
    color: #39364E;
    font-family: Outfit;
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
}

.title2 {
    text-align: center;
    font-family: Outfit;
    font-size: 42px;
    font-weight: 600;
    line-height: 140%;
}
.text-white {
    color: #fff;
}
.btn {
    border: none;   
    cursor: pointer;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.flex{
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}