header {
    background-color: var(--bg-header);
    
}

header .container {
    width: 1200px;
    display: flex;
    height: 120px;
}

header .container .logo {
    width: 150px;
    height: 28px;
}


header .container .navbar {
    width: 512px;
    display: flex;
    justify-content: space-between;
    height: 28px;
}

header .container .navbar a {
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #5A5A5A;
}

header .container .navbar .active {
    color: #1F0C0B;
    text-decoration: underline;
}

header button {
    background-color: var(--first-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    height: 42px;
    margin-left: 175px;
    border-radius: 42px;
    padding: 8px 24px;
    text-align: center;
}


footer {
    background-color: #000;
    height: 527px;
}

footer .absolute {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.31);
    bottom: 82px;
}

footer .container {
    width: 1200px;
    height: 527px;
}

footer .container .footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px;
    border-bottom: 1px solid #0B363B;
}

footer .container .footer1 .navbar {
    width: 440px;
    display: flex;
    justify-content: space-between;
    color: #BDBEC8;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.16px;
}

footer .container .footer1 .social {
    display: flex;
    column-gap: 22px;
    align-items: center;
}

footer .container .footer1 .social i {
    width: 16px;
    height: 16px;
}

footer .footer2 {
    margin-top: 85px;
    margin-bottom: 59px;
    justify-content: space-between;
}

footer .footer2 .aprf {
    font-size: 18px;
    font-weight: 500;
    column-gap: 92px;
}

footer .footer2 .header {
    line-height: 16px;
    margin-bottom: 18px;
}

footer .footer2 .aprf .box .links {
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    color: #BDBEC8;
    line-height: 45px;
}

footer .footer2 .contact-us {
    text-align: end;
}

footer .footer2 .contact-us .links {
    height: 66px;
    width: 169px;
    color: #BDBEC8;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.16px;
}

footer .footer3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    height: 58px;
}
footer .footer3 .left {
    color: #BDBEC8;
    margin-right: 373px;
}

