.hiring {
    background-color: var(--bg-header);
    margin-bottom: 160px;
    height: 739px;
}


.hiring .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.hiring .container .info {
    margin-top: 169px;
}

.hiring .container .info .title {
    font-size: 68px;
    font-weight: 700;
    line-height: 78px;
    color: #0F0D1C;
    margin-bottom: 22px;
}

.hiring .container .info .title span {
    color: var(--first-blue);
}

.hiring .container .info .subtitle,
.hiring .container .info button {
    font-size: 18px;
    line-height: 28px;
}

.hiring .container .info .subtitle {
    font-weight: 400;
    color: #5A5A5A;
    margin-bottom: 40px;
    width: 551px;
    height: 56px;
}

.hiring .container .info button {
    color: #fff;
    text-align: center;
    background-color: var(--first-blue);
    text-transform: uppercase;
    font-weight: 500;
    width: 176px;
    height: 58px;
    border-radius: 50px;
}

.hiring .container .img .image .bubbles {
    top: 69px;
    left: 125px;
}

.hiring .container .img {
    display: flex;
    column-gap: 21px;
}

.hiring .container .img .sm-image {
    width: 64px;
    height: 55px;
    margin-top: 515px;
}

.hiring .container .image {
    width: 602px;
    height: 655px;
    object-fit: cover;
    margin-top: 60px;
}

.hiring .container .dots-first {
    top: 0;
    right: 3px;
}

.hiring .container .dots-second {
    bottom: 46px;
    left: 3px;
}

.companies .container {
    width: 1082px;
    margin-bottom: 210px;
}

.companies .container .header {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 42px;
}

.companies .container .logos {
    height: 40px;
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
    align-items: center;
}

.process {
    height: 461px;
    margin-bottom: 306px;
}

.process .container {
    column-gap: 45px;
    width: 1176px;
}

.process .container .image {
    width: 590px;
    height: 461px;
}

.process .container .image .box {
    width: 276px;
    height: 226px;
    background-color: #FBB8AE;
    border-radius: 32px;
    top: 0;
    left: 0;
}

.process .container .image .girl-2 {
    width: 514px;
    height: 406px;
    object-fit: cover;
    border-radius: 32px;
    top: 27px;
    left: 34px;
}
.process .container .image .dots {
    bottom: 0;
    right: 0;
    z-index: -3;
}
.process .container .text {
    margin-top: 80px;
    margin-bottom: 61px;
}

.process .container .text .title,
.process .container .text .subtitle {
    color: #39364E;
}

.process .container .text .subtitle,
.process .container .text button {
    font-size: 18px;
    line-height: 27px;
}

.process .container .text .title {
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
    width: 541px;
    margin-bottom: 14px;
}

.process .container .text .subtitle {
    font-weight: 400;
    letter-spacing: 0.18px;
    width: 478px;
    height: 90px;
    margin-bottom: 29px;
}

.process .container .text button {
    width: 167px;
    padding: 14px 25px;
    border-radius: 50px;
    background: var(--second-blue);
    color: #fff;
    font-weight: 600;
}