.hiring {
    background-color: var(--bg-header);
    margin-bottom: 160px;
}
.hiring .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    column-gap: 72px;
}

.hiring .container .info {
   padding-top: 45px;
}

.hiring .container .info .title {
    font-size: 68px;
    font-weight: 700;
    line-height: 78px;
    color: #0F0D1C;
    margin-bottom: 22px;
}

.hiring .container .info .title span {
    color: var(--first-blue);
}

.hiring .container .info .subtitle,
.hiring .container .info button {
    font-size: 18px;
    line-height: 28px;
}

.hiring .container .info .subtitle {
    font-weight: 400;
    color: #5A5A5A;
    margin-bottom: 40px;
    width: 551px;
}

.hiring .container .info button {
    color: #fff;
    text-align: center;
    background-color: var(--first-blue);
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 39px;
    border-radius: 50px;
}

.hiring .container .img .image .bubbles {
    top: 69px;
    left: 125px;
}

.hiring .container .img {
    display: flex;
    column-gap: 21px;
}

.hiring .container .img .sm-image {
    width: 64px;
    height: 55px;
    margin-top: 515px;
}

.hiring .container .image {
    width: 502px;
    height: 555px;
    object-fit: cover;
    margin-top: 60px;
}

.hiring .container .dots-first {
    top: 0;
    right: 3px;
}

.hiring .container .dots-second {
    bottom: 46px;
    left: 3px;
}

.companies .container {
    width: 1082px;
    margin-bottom: 210px;
}

.companies .container .header {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 42px;
}

.companies .container .logos {
    height: 40px;
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
    align-items: center;
}

.process {
    margin-bottom: 306px;
}

.process .container {
    column-gap: 45px;
    width: 1176px;
}

.process .container .image {
    width: 590px;
    height: 461px;
}

.process .container .image .box {
    width: 276px;
    height: 226px;
    background-color: #FBB8AE;
    border-radius: 32px;
    top: 0;
    left: 0;
}

.process .container .image .girl-2 {
    width: 514px;
    height: 406px;
    object-fit: cover;
    border-radius: 32px;
    top: 27px;
    left: 34px;
}

.process .container .image .dots {
    bottom: 0;
    right: 0;
    z-index: -3;
}

.process .container .text {
    padding-top: 81px;
    padding-bottom: 60px;
}

.process .container .text .title,
.process .container .text .subtitle {
    color: #39364E;
}

.process .container .text .subtitle,
.process .container .text button {
    font-size: 18px;
    line-height: 27px;
}

.process .container .text .title {
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
    width: 541px;
    margin-bottom: 14px;
}

.process .container .text .subtitle {
    font-weight: 400;
    letter-spacing: 0.18px;
    width: 478px;
    margin-bottom: 29px;
}

.process .container .text button {
    padding: 14px 25px;
    border-radius: 50px;
    background: var(--second-blue);
    color: #fff;
    font-weight: 600;
}

.feature {
    background-color: #F5F4F0;
    margin-bottom: 193px;
}

.feature .container {
    width: 1200px;
    padding: 60px 0;
}

.feature .container .title {
    color: #39364E;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 121px;
    margin-bottom: 18px;
}

.feature .container .subtitle {
    color: #39364E;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 53px;
}

.feature .container .figures {
    display: flex;
    column-gap: 24px;
}

.feature .container .figures figure {
    width: calc((1200px - 48px) / 3);
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    padding: 15px 21px;
}

.feature .container .figures .first {
    height: 100%;
    background-color: #fff;
}

.feature .container .figures .img {
    width: 112px;
    height: 113px;
    text-align: center;
    margin: 59px auto 23px;
}

.feature .container .figures .first .header,
.feature .container .figures .third .header {
    color: #39364E;
}

.feature .container .figures .header {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 27px;
}

.feature .container .figures .first .text,
.feature .container .figures .third .text {
    color: #696969;
}

.feature .container .figures .text {
    margin: 14px auto 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    width: 329px;
}

.feature .container .figures .second {
    background-color: var(--second-blue);
    color: #fff !important;
}

.feature .container .figures .third {
    background-color: #fff;
}

.service {
    height: 469px;
    margin-bottom: 282px;
}

.service .container {
    width: 1174px;
    display: flex;
    column-gap: 45px;
    /* align-items: center; */
}

.service .container .text .title {
    color: #39364E;
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
    width: 535px;
}

.service .container .text .p1 {
    margin-top: 34px;
    margin-bottom: 36px;
}

.service .container .text .p1,
.service .container .text .p2 {
    color: #39364E;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    width: 486px;
}

.service .container .image {
    width: 594px;
    height: 469px;
}

.service .container .image .girl-3 {
    width: 514px;
    height: 406px;
    top: 27px;
    left: 34px;
    border-radius: 32px;
    object-fit: cover;
    overflow: hidden;
}

.service .container .image .box {
    width: 276px;
    height: 226px;
    border-radius: 32px;
    background: #FABB3D;
    top: 0;
    left: 0;
}

.service .container .image .dots {
    right: 0;
    bottom: 0;
    z-index: -3;
}

.portfolio {
    height: 1392px;
    margin-bottom: 142px;
}

.portfolio .container {
    width: 1200px;
}

.portfolio .container .title {
    color: #39364E;
    font-size: 42px;
    font-weight: 600;
    line-height: 140%;
    padding-bottom: 8px;
}

.portfolio .container .subtitle {
    color: #39364E;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 75px;
}

.portfolio .container figure {
    width: 590px;
    height: 603px;
    margin-bottom: 28px;
}

.portfolio .container figure img {
    width: 590px;
    height: 504px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 19px;
    margin-bottom: 32px;
}

.portfolio .container .box {
    column-gap: 61px;
}

.portfolio .container .box .dscrb {
    color: #39364E;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    line-height: 140%;
}

.testimonial {
    height: 690px;
    background-color: #F5F4F0;
    margin-bottom: 8px;
    padding-top: 115px;
    padding-bottom: 115px;
}

.testimonial .container {
    height: 460px;
    width: 1200px;
}

.testimonial .container .title {
    color: #39364E;
    font-size: 42px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    margin-bottom: 8px;
}

.testimonial .container .subtitle {
    color: #39364E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 80px;
}

.testimonial .container .boxes {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.testimonial .container .boxes .box>img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 68px;
}

.testimonial .container .boxes .box {
    border-radius: 10px;
    border: 1px solid rgba(105, 105, 105, 0.10);
    background: #FFF;
    height: 287px;
    padding-top: 62px;
    padding-left: 33px;
    width: calc((1200px - 48px) / 3);
}

.testimonial .container .boxes .box .info {
    margin-bottom: 39px;
}

.testimonial .container .boxes .box .info .text {
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    height: 75px;
    width: 225px;
    top: 60px;
    left: 110px;
}

.testimonial .container .boxes .box .info .text2 {
    color: #39364E;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.testimonial .container .boxes .box .info .text-emoji {
    column-gap: 5px;
    top: 139px;
    left: 110px;
}

.testimonial .container .boxes .box .info .text-emoji::after {
    content: '';
    width: 220px;
    height: 1px;
    background-color: #F0F0F0;
    position: absolute;
    top: 30px;
    left: 0;
}

.testimonial .container .boxes .box .who {
    bottom: 87px;
    left: 110px;
    line-height: 22px;
    column-gap: 8px;
}

.testimonial .container .boxes .box .who .name {
    font-size: 16px;
    font-weight: 700;
    color: var(--second-blue);
}

.testimonial .container .boxes .box .who .speciality {
    color: #ACACAC;
    font-size: 15px;
    font-weight: 400;
}

.testimonial .dots {
    column-gap: 0;
    width: 257px;
    height: 122px;
    justify-content: space-between;
}

.testimonial .dots.first {
    top: 0;
    right: -162px;
    transform: rotate(-58.238deg);
}

.testimonial .dots.second {
    bottom: 63px;
    left: -166px;
    transform: rotate(62deg);
}


.contact {
    background-color: var(--second-blue);
    height: 524px;
    padding: 132px;
}

.contact .container {
    width: 870px;
    height: 260px;
    text-align: center;
}

.contact .container .header {
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 11px;
}

.contact .container .title {
    font-size: 42px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 38px;
}

.contact .container button {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 14px 25px;
    border-radius: 5px;
}